{% extends 'cars/base.html' %}
{% load static %}

{% block page_title %}Gallery{% endblock %}
{% block nav-link-gallery %}active{% endblock %}

{% block content %}

	<link rel="stylesheet" href="{% static 'cars/css/style.css' %}">
	{% for car in cars %}
		<a href="{% url 'car_detail' car.id %}">
			<figure class="figure mb-0">
				<img src="media/images/sample.jpg" class="figure-img img-fluid rounded" alt="...">
				<figcaption class="figure-caption text-center">
					{{car.name}}
				</figcaption>
			</figure>
			<div class="car-glossary">I am shown when someone hovers over the div above.</div>
		</a>
	{% endfor %}

	<!-- Pagination -->
	<div class="mt-5 d-flex justify-content-center align-items-center">
		<nav aria-label="Page navigation example">
		  <ul class="pagination">
			<li class="page-item disabled">
			  <a class="page-link" aria-label="Previous">
				<span aria-hidden="false">
				  <i class="fa-light fa-angle-left"></i>
				</span>
			  </a>
			</li>

			{% if page.has_previous %}
				<li class="page-item">
					<a class="page-link" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
				</li>
			{% endif %}

			<li class="page-item active" aria-current="page"><a class="page-link" href="#">{{page.current}}</a></li>

			{% if page.has_next %}
				<li class="page-item">
					<a class="page-link" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
				</li>
			{% endif %}

			<li class="page-item disabled">
			  <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
				<span aria-hidden="false">
				  <i class="fa-light fa-angle-right"></i>
				</span>
			  </a>
			</li>

		  </ul>
		</nav>
	</div>
{% endblock %}